.u-section-1 .u-sheet-1 {
  min-height: 984px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1245px;
  margin: 10px auto 0 -65px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 499px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 499px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 15px 503px 0 537px;
}

.u-section-1 .u-text-2 {
  margin: 30px 30px 0;
}

.u-section-1 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("images/arindamghosh.jpg");
  background-position: 50% 50%;
  margin: 53px auto 0 173px;
}

.u-section-1 .u-image-2 {
  width: 300px;
  height: 300px;
  background-image: url("images/biswarup1.jpg");
  background-position: 50% 50%;
  margin: -300px 217px 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 0 675px 0 223px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: -26px 217px 60px 682px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 862px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 377px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 377px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 353px;
    margin-left: 218px;
    width: 150px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 575px;
    margin-left: 307px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 117px;
    margin-left: 582px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 774px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 289px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 245px;
    margin-left: 167px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 465px;
    margin-left: 235px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 7px;
    margin-left: 472px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 13590px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 542px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 161px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 78px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 298px;
    margin-left: 176px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 299px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 8773px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 341px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 61px;
    margin-left: 105px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 109px;
    margin-left: 40px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 40px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 98px;
    margin-left: 111px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 99px;
  }
}