.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  margin: 20px 365px 60px 460px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 265px;
    margin-left: 360px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 155px;
    margin-left: 250px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 65px;
    margin-left: 160px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 26px;
    margin-right: -68px;
    margin-left: 93px;
  }
}