.u-section-4-1 .u-sheet-1 {
  min-height: 609px;
}

.u-section-4-1 .u-image-1 {
  width: 983px;
  height: 438px;
  margin: 159px auto 12px 60px;
}

@media (max-width: 1199px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-4-1 .u-image-1 {
    width: 940px;
    height: 419px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-4-1 .u-image-1 {
    width: 720px;
    height: 321px;
  }
}

@media (max-width: 767px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-4-1 .u-image-1 {
    width: 540px;
    height: 241px;
  }
}

@media (max-width: 575px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-4-1 .u-image-1 {
    width: 340px;
    height: 152px;
  }
}.u-section-4-2 .u-sheet-1 {
  min-height: 609px;
}

.u-section-4-2 .u-image-1 {
  width: 1020px;
  height: 390px;
  margin: 159px auto 0;
}

.u-section-4-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: -49px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4-2 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-4-2 .u-image-1 {
    width: 940px;
    height: 359px;
  }

  .u-section-4-2 .u-btn-1 {
    margin-top: -18px;
  }
}

@media (max-width: 991px) {
  .u-section-4-2 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-4-2 .u-image-1 {
    width: 720px;
    height: 275px;
  }

  .u-section-4-2 .u-btn-1 {
    margin-top: 66px;
  }
}

@media (max-width: 767px) {
  .u-section-4-2 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-4-2 .u-image-1 {
    width: 540px;
    height: 206px;
  }
}

@media (max-width: 575px) {
  .u-section-4-2 .u-sheet-1 {
    min-height: 349px;
  }

  .u-section-4-2 .u-image-1 {
    width: 340px;
    height: 130px;
  }
}.u-section-4-3 .u-sheet-1 {
  min-height: 609px;
}

.u-section-4-3 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-4-3 .u-image-1 {
  width: 1023px;
  height: 539px;
  margin: -69px auto 0 48px;
}

@media (max-width: 1199px) {
  .u-section-4-3 .u-sheet-1 {
    min-height: 565px;
  }

  .u-section-4-3 .u-image-1 {
    width: 940px;
    height: 495px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4-3 .u-sheet-1 {
    min-height: 449px;
  }

  .u-section-4-3 .u-image-1 {
    width: 720px;
    height: 379px;
  }
}

@media (max-width: 767px) {
  .u-section-4-3 .u-sheet-1 {
    min-height: 354px;
  }

  .u-section-4-3 .u-image-1 {
    width: 540px;
    height: 284px;
  }
}

@media (max-width: 575px) {
  .u-section-4-3 .u-sheet-1 {
    min-height: 249px;
  }

  .u-section-4-3 .u-image-1 {
    width: 340px;
    height: 179px;
  }
}.u-section-4-4 .u-sheet-1 {
  min-height: 609px;
}

.u-section-4-4 .u-image-1 {
  width: 1056px;
  height: 587px;
  margin: 158px auto 60px 26px;
}

@media (max-width: 1199px) {
  .u-section-4-4 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-4-4 .u-image-1 {
    width: 940px;
    height: 523px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4-4 .u-sheet-1 {
    min-height: 423px;
  }

  .u-section-4-4 .u-image-1 {
    width: 720px;
    height: 401px;
  }
}

@media (max-width: 767px) {
  .u-section-4-4 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-4-4 .u-image-1 {
    width: 540px;
    height: 301px;
  }
}

@media (max-width: 575px) {
  .u-section-4-4 .u-sheet-1 {
    min-height: 212px;
  }

  .u-section-4-4 .u-image-1 {
    width: 340px;
    height: 190px;
  }
}.u-section-1 .u-sheet-1 {
  min-height: 743px;
}

.u-section-1 .u-image-1 {
  width: 941px;
  left: auto;
  right: 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 6rem;
  letter-spacing: 0px;
  line-height: 1;
  text-shadow: 0 0 8px rgba(0,0,0,1);
  font-weight: 400;
  font-family: "Playfair Display", serif;
  margin: 319px 345px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-right: 145px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 629px;
  }

  .u-section-1 .u-image-1 {
    width: 440px;
    height: 627px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 1px -50px 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -266px;
    margin-left: 116px;
    font-size: 1.5rem;
  }
}.u-section-2 {
  background-image: none;
  min-height: 837px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1209px;
  margin: 99px auto 0 calc(((100% - 1140px) / 2) + -69px);
}

.u-section-2 .u-layout-cell-1 {
  min-height: 738px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 738px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 7px 30px;
}

.u-section-2 .u-group-1 {
  width: 349px;
  min-height: 93px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 900;
  margin: 0 5px;
}

.u-section-2 .u-text-2 {
  line-height: 36px;
  font-weight: bold;
  font-size: 1.125rem;
  margin: 81px 31px 0 15px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 738px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  height: 738px;
  width: 402px;
  margin: -738px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 674px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 574px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 574px;
  }

  .u-section-2 .u-group-1 {
    width: 299px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 730px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 195px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 440px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 387px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-1 {
    width: 226px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 559px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 726px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 399px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 40px 7px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 706px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 1170px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 395px;
    margin-top: 38px;
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 401px;
    order: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 465px;
    order: 2;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-2 .u-group-1 {
    margin-top: -10px;
    margin-left: 11px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 31px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: 10px;
    margin-right: 19px;
    margin-left: 29px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 266px;
    order: 1;
  }

  .u-section-2 .u-image-2 {
    height: 435px;
    width: 351px;
    margin-top: -1160px;
    margin-bottom: 725px;
    margin-left: calc(((100% - 340px) / 2) + -11px);
  }
}.u-section-3 {
  background-image: url("images/19221.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 979px;
}

.u-section-3 .u-text-1 {
  font-size: 4.5rem;
  background-image: none;
  margin: 29px auto 0 -55px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 78px auto 60px -55px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 688px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 107px;
  height: 107px;
  background-image: url("images/clipart978325.png");
  background-position: 50% 50%;
  margin: 9px auto 0 56px;
}

.u-section-3 .u-text-2 {
  background-image: none;
  font-size: 2.25rem;
  margin: 9px 0 0 22px;
}

.u-section-3 .u-text-3 {
  width: 202px;
  font-size: 1.125rem;
  margin: 40px auto 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 99px auto 0 22px;
  padding: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 807px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-image-2 {
  width: 144px;
  height: 109px;
  margin: 24px auto 0;
}

.u-section-3 .u-text-4 {
  font-size: 2.25rem;
  margin: -6px 6px 0 27px;
}

.u-section-3 .u-text-5 {
  width: 203px;
  font-size: 1.125rem;
  margin: 34px auto 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 20px auto 0 15px;
  padding: 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 688px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-image-3 {
  width: 144px;
  height: 144px;
  background-image: url("images/Daco_5211688.png");
  background-position: 50% 50%;
  margin: -9px auto 0 50px;
}

.u-section-3 .u-text-6 {
  font-size: 2.25rem;
  margin: -8px 45px 0 15px;
}

.u-section-3 .u-text-7 {
  margin: 34px 26px 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 77px auto 0 14px;
  padding: 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 688px;
}

.u-section-3 .u-container-layout-4 {
  padding: 0;
}

.u-section-3 .u-image-4 {
  width: 107px;
  height: 107px;
  margin: 13px auto 0 60px;
}

.u-section-3 .u-text-8 {
  font-size: 2.25rem;
  font-weight: normal;
  margin: 11px 56px 0 21px;
}

.u-section-3 .u-text-9 {
  width: 201px;
  font-size: 1.125rem;
  margin: 27px auto 0;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  border-style: none none solid;
  font-weight: 700;
  font-size: 1rem;
  margin: 41px auto 0 38px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 686px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 567px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 836px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 567px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -16px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 10px;
    width: 203px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 1px;
    margin-left: 1px;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 567px;
  }

  .u-section-3 .u-image-4 {
    margin-top: -105px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 60px;
  }

  .u-section-3 .u-text-9 {
    margin-top: 18px;
  }

  .u-section-3 .u-btn-4 {
    margin-top: 20px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 319px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-image-4 {
    margin-top: -223px;
  }

  .u-section-3 .u-text-8 {
    margin-top: -78px;
  }

  .u-section-3 .u-text-9 {
    margin-top: 118px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 419px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-4 {
    font-size: 3rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-6 {
    font-size: 3rem;
  }

  .u-section-3 .u-image-4 {
    margin-top: -248px;
  }

  .u-section-3 .u-text-9 {
    margin-top: 143px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2696px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 283px;
    margin-top: 31px;
    margin-left: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 558px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 75px;
    height: 75px;
    margin-left: 92px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    font-size: 1.5rem;
    margin-top: 5px;
    margin-right: 22px;
    margin-left: 61px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
    margin-top: 44px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 29px;
    margin-left: 54px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 844px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-image-2 {
    width: 107px;
    height: 81px;
    margin-top: 0;
    margin-left: 83px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    font-size: 1.5rem;
    margin-top: 0;
    margin-right: -9px;
    margin-left: 92px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    font-size: 1rem;
    margin-top: 20px;
    margin-right: 104px;
    margin-left: 56px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 38px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 479px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-3 .u-image-3 {
    width: 102px;
    height: 102px;
    margin-top: -11px;
    margin-left: 64px;
  }

  .u-section-3 .u-text-6 {
    width: 202px;
    font-size: 1.5rem;
    margin-top: -14px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-3 .u-btn-3 {
    margin-top: 29px;
    margin-left: 9px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 517px;
  }

  .u-section-3 .u-image-4 {
    width: 87px;
    height: 72px;
    margin-top: 9px;
    margin-left: 86px;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 5px;
    margin-right: 76px;
    margin-left: 69px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    font-size: 1rem;
    margin-top: 20px;
    margin-right: 43px;
    margin-left: 42px;
  }

  .u-section-3 .u-btn-4 {
    margin-top: -7px;
    margin-bottom: -360px;
    margin-left: 42px;
  }
}.u-block-9b14-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-9b14-3 {
  position: absolute;
  left: 0;
  width: 85px;
  height: 85px;
  background-image: none;
}

.u-block-9b14-3 {
  position: absolute;
  left: 0;
  width: 85px;
  height: 85px;
  background-image: none;
}